div.header {
  background-image: url(../images/background.jpeg);
  background-repeat: no-repeat;
  background-position: top center;
}
div.header h1{
  color: #444343;
}
html{
  background-color: beige;
}